<div class="swap-thumbnail">
  <div class="well">
    {{#linkTo "entity" this class=thumbnail}}
      <img {{bindAttr src="image_thumbnail"}}></img>
    {{/linkTo}}
    <div class="description">
      {{#linkTo "entity" this}}
        <h5>{{title}}<h5>
      {{/linkTo}}
    </div>
  </div>
</div>
