<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      {{#linkTo 'home' class='brand'}}LinkLib{{/linkTo}}
      <div class="pull-right">
        {{#if App.CurrentUser.loggedIn}}
         <ul class="nav">
           <li>{{#linkTo profile App.CurrentUser}}Welcome, {{App.CurrentUser.username}}{{/linkTo}}</li>
         </ul>
        {{else}}
          <ul class="nav">
            <li>
            <a {{bindAttr href="App.Bookmarklet.href"}}>
              Drag button into your bookmark bar to get started
            </a>
            </li>
          </ul>
          <a class="btn btn-primary" {{bindAttr href="App.Bookmarklet.href"}}>Capture</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
