<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      {{#linkTo "home" class="brand"}}
        <img src="/img/logo-small.png"></img>
      {{/linkTo}}
      <div id="navbar" class="nav-collapse">
        <ul class="nav nav-spaced host-explore">
          <li>
            {{#linkTo "explore"}}
              <h5>Upcoming Swaps</h5>
            {{/linkTo}}
          </li>
          <li class="divider-vertical"></li>
          <li>
            {{#linkTo "entities"}}
              <h5>Leaderboard</h5>
            {{/linkTo}}
          </li>
        </ul>
        <ul class="nav nav-spaced pull-right">
          <ul class="nav search"></ul>
          <ul class="nav current-user"></ul>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
