<h4>Filter LifeSwaps:</h4>
<div>
  {{#each tag in tags}}
  <div class="btn tag" tag="{{tag}}">{{tag}}</div>
  {{/each}}
</div>
<br/>
{{#each row in rows}}
<div class="row">
  {{#each row}}
  <div class="span4">
    {{view App.SwapThumbnailView}}
  </div>
  {{/each}}
</div>
{{/each}}
